
<button
  phx-click="reset">
  Reset
</button>
<chess-board
    id="board"
    phx-hook="MoveMade"
    style="width: 100%; margin: auto;"
    position="<%= @position %>"
    draggable-pieces>
</chess-board>
